<h2>Second Step</h2>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired nzFor="user">User</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your user">
            <input type="text" nz-input formControlName="user" placeholder="Please input your user" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="email" [nzRequired]="validateForm.get('required')?.value">
            Email
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your email">
            <input type="text" nz-input formControlName="email" placeholder="Please input your email" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="4">
            <button nz-button nzType="primary">Guardar</button>
        </nz-form-control>
    </nz-form-item>
</form>