<h2>Second Step</h2>
<form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired nzFor="name">Nombre</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your name">
            <input type="text" nz-input formControlName="name" placeholder="Please input your name" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="nickname" [nzRequired]="validateForm.get('required')?.value">
            Apodo
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your nickname">
            <input type="text" nz-input formControlName="nickname" placeholder="Please input your nickname" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="4">
            <label nz-checkbox formControlName="required" (ngModelChange)="requiredChange($event)">
                Apodo es requerido
            </label>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="4">
            <button nz-button nzType="primary">Guardar</button>
        </nz-form-control>
    </nz-form-item>
</form>