<h2>Third Step</h2>
<form *ngIf="validateForm" nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzRequired nzFor="address">Address</nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your address">
            <input type="text" nz-input formControlName="address" placeholder="Please input your address" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSpan]="4" nzFor="city" [nzRequired]="validateForm.get('required')?.value">
            City
        </nz-form-label>
        <nz-form-control [nzSpan]="8" nzErrorTip="Please input your city">
            <input type="text" nz-input formControlName="city" placeholder="Please input your city" />
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control [nzSpan]="8" [nzOffset]="4">
            <button nz-button nzType="primary">Guardar</button>
        </nz-form-control>
    </nz-form-item>
</form>